* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    background: hsla(214, 64%, 18%, 1);
    background: linear-gradient(315deg, hsla(214, 64%, 18%, 1) 0%, hsla(201, 53%, 56%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(214, 64%, 18%, 1) 0%, hsla(201, 53%, 56%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(214, 64%, 18%, 1) 0%, hsla(201, 53%, 56%, 1) 100%);
    /*"filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#112B4D", endColorstr="#53A0CA", GradientType=1 );"*/ /*ErrorFix*/
    background-attachment: fixed; /*GradientFix*/
}

nav {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    height: 87px;
    position: fixed; /*PositionFix*/
    font-weight: 700;
    color: #FFFFFF;
    font-size: 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 777;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo_navigation {
    margin-top: 10px;
    margin-left: 6px;
    margin-bottom: 2px;
}

.logo_divider_navigation {
    margin-top: 18.5px;
    margin-left: 15px;
    margin-bottom: 18.5px;
    width: 5px;
    height: 50px;
    background-color: #FFFFFF;
}

.logo_text_navigation {
    margin-top: 30.5px;
    margin-left: 15px;
    margin-bottom: 30.5px;
}

.child_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30.5px;
    margin-left: 179px;
    margin-bottom: 30.5px;
}

.child_icon_navigation {
    display: flex;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    margin-top: 34px;
    margin-right: 10px;
    margin-bottom: 23px;
}

.child_icon_disabled_navigation {
    display: flex;
    opacity: 50%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    margin-top: 34px;
    margin-right: 10px;
    margin-bottom: 23px;
}

.child_text_disabled_navigation {
    opacity: 50%;
}

.child_divider_navigation {
    margin: 29px 18.5px 25px 18.5px;
    width: 4px;
    height: 33px;
    background-color: #FFFFFF;
}

.actions_navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 23.5px;
    margin-right: 36px;
    margin-bottom: 23.5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    position: absolute; /*PositionFix*/
    right: 0;
}

.Navigation_Divider_Sub_Navigation {
    height: 1px;
    background-color: #FFFFFF;
    position: fixed; /*PositionFix*/
    top: 0;
    left: 0;
    right: 0;
    margin-top: 87px;
}

.sub_navigation {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    height: 40px;
    position: fixed; /*PositionFix*/
    font-weight: 700;
    color: #FFFFFF;
    font-size: 24px;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 87px;
}

.menu_sub_navigation {
    display: flex;
    align-items: center;
    margin-left: 6px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.child_sub_navigation {
    display: flex;
    align-items: center;
    margin-left: 168px;
}

.child_icon_sub_navigation {
    display: flex;
    align-items: center;
    margin-right: 15px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.child_text_sub_navigation {
    display: flex;
    align-items: center;
}

.child_divider_sub_navigation {
    display: flex;
    align-items: center;
    margin: 7.5px 27px 7.5px 27px;
    width: 3px;
    height: 25px;
    background-color: #FFFFFF;
}

.child_actions_sub_navigation {
    display: flex;
    align-items: center;
    position: absolute; /*PositionFix*/
    margin-right: -10px;
    right: 0;
}

.child_invoice_sub_navigation {
    display: flex;
    align-items: center;
    position: absolute; /*PositionFix*/
    right: 0;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.QuickInformationWidget {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    color: #FFFFFF;
    height: 655px;
    width: 720px;
    margin-top: 130px;
    margin-left: 40px;
    flex-direction: column;
}

.Slogan_QuickInformationWidget {
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 300px;
    margin-bottom: 7px;
}

.Slogan_Information_Divider_QuickInformationWidget {
    height: 1px;
    width: 700px;
    background-color: #FFFFFF;
}

.Information_QuickInformationWidget {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 15px;
}

.Combiner {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    justify-content: center;
    margin-top: -600px;
    margin-left: 1050px;
    margin-bottom: 107px;
    position: fixed;
    right: 0;
    left: 0;
}

.Circle_Combiner {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    rotate: -90deg;
    margin-left: 10px;
    position: fixed; /*PositionFix*/
    z-index: 1; /*PositionFix*/
}

.Particle_TNG {
    display: flex;
    align-items: center;
    position: absolute; /*PositionFix*/
    z-index: 2; /*PositionFix*/
}

.Particle_TNM {
    display: flex;
    align-items: center;
    margin-bottom: 293px;
    margin-right: 250px;
    position: absolute; /*PositionFix*/
    z-index: 2; /*PositionFix*/
}

.Particle_TNS {
    display: flex;
    align-items: center;
    margin-top: 300px;
    margin-right: 250px;
    position: absolute; /*PositionFix*/
    z-index: 2; /*PositionFix*/
}

.Particle_TNV {
    display: flex;
    align-items: center;
    margin-right: -406px;
    position: absolute; /*PositionFix*/
    z-index: 2; /*PositionFix*/
}

footer {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    height: 50px;
    position: fixed; /*PositionFix*/
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 80px;
    bottom: 0;
    right: 0;
    left: 0;
}

.copyright_logo_footer {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 14.5px;
    margin-bottom: 15px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    rotate: 90deg;
}

.copyright_text_c_footer {
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-left: -14px;
    margin-bottom: 18px;
    font-size: 15px;
}

.copyright_text_msg_footer {
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-size: 15px;
}

.information_footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 245px;
}

.information_icon_footer {
    margin-top: 13.5px;
    margin-right: 5px;
    margin-bottom: 11.5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.information_divider_footer {
    margin: 14px 18px 11px 19px;
    width: 3px;
    height: 25px;
    background-color: #FFFFFF;
}

.medium_footer {
    display: flex;
    align-items: center;
    margin-right: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    gap: 10px;
    position: absolute; /*PositionFix*/
    right: 0;
}

.Medical_Information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed; /*PositionFix*/
    left: 0;
    top: 0;
}

.Medical_Slogan_Background {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    height: 60px;
    width: 875px;
    margin-top: 160px;
    margin-left: 40px;
}

.Medical_Slogan {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 45px;
    margin-left: 3px;
}

.Slogan_Divider_Information {
    height: 1px;
    background-color: #FFFFFF;
    width: 871px;
    margin-left: 42px;
    margin-top: -3px;
}

.Medical_Information_QuickInformationWidget {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    margin-left: 4px;
}

.Medical_Information_QuickInformationWidget_Background {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    height: 250px;
    width: 580px;
    margin-left: 40px;
    margin-top: 12px;
}

.Medical_Illustration_Background {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 480px;
    height: 286px;
    margin-bottom: 105px;
    margin-left: 90px;
    position: fixed; /*PositionFix*/
    left: 0;
    bottom: 0;
}

.Medical_Image_Illustration {
    display: flex;
    align-items: center;
    margin-left: 98px;
    margin-bottom: 113px;
    position: fixed; /*PositionFix*/
    left: 0;
    bottom: 0;
}

.Collaboration {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute; /*PositionFix*/
    right: 0;
    bottom: 0; /*!PositionFix*/
}

.Collaboration_Background {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: 100px;
    width: 503px;
    margin-bottom: 60px;
    margin-right: 10px;
    position: fixed; /*PositionFix*/
    right: 0;
    bottom: 0;
}

.Collaboration_Text {
    display: flex;
    align-items: center;
    margin-bottom: 95px;
    margin-right: 250px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline;
    position: fixed; /*PositionFix*/
    right: 0;
    bottom: 0;
}

.Collaboration_Icon {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    margin-right: 15px;
    position: fixed; /*PositionFix*/
    right: 0;
    bottom: 0;
}

.Solutions {
    display: flex;
    align-items: center;
    flex-direction: unset;
}

.Solutions_TNM_Icon {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 500px;
    margin-bottom: 380px;
    z-index: 10;
}

.Solutions_TNM_Background {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    height: 175px;
    width: 175px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 488px;
    margin-bottom: 368px;
}

.Solutions_Texts {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.Solutions_Patient_Monitoring {
    position: fixed;
    width: 170px;
    height: 75px;
    right: 0;
    bottom: 0;
    margin-right: 491px;
    margin-bottom: 570px;
}

.Solutions_Anaesthesia {
    position: fixed;
    width: 170px;
    height: 75px;
    right: 0;
    bottom: 0;
    margin-right: 270px;
    margin-bottom: 480px;
}

.Solutions_Incubators {
    position: fixed;
    width: 170px;
    height: 75px;
    right: 0;
    bottom: 0;
    margin-right: 270px;
    margin-bottom: 350px;
}

.Solutions_Respiratory_Monitoring {
    position: fixed;
    width: 170px;
    height: 75px;
    right: 0;
    bottom: 0;
    margin-right: 496px;
    margin-bottom: 270px;
}

.Solutions_IC-Ventilation {
    position: fixed;
    width: 170px;
    height: 75px;
    right: 0;
    bottom: 0;
    margin-right: 700px;
    margin-bottom: 350px;
}

.Solutions_Neonatal_Ventilation {
    position: fixed;
    width: 170px;
    height: 75px;
    right: 0;
    bottom: 0;
    margin-right: 700px;
    margin-bottom: 480px;
}